[Unit]
Description=Gunicorn server for vocabulary-139.59.105.19

[Service]
Restart=on-failure
User=ellie
WorkingDirectory=/home/ellie/sites/139.59.105.19/vocabulary_test
ExecStart=/home/ellie/sites/139.59.105.19/virtualenv/bin/gunicorn \
        --bind unix:/tmp/139.59.105.19_vocabulary.socket \
        words.wsgi:application

[Install]
WantedBy=multi-user.target
